<source-mysql>
host=192.168.10.176
port=3306
dbname=glazedb
username=glaze_dbo
password=glaze
charsettype=utf8
charsettype=utf8
<source-mysql>
<source-mongo>
host=192.168.10.175
port=27017
dbname=casedb
username=case
password=hsgene
collection=cases
<source-mongo>
<target-mysql>
host=192.168.10.176
port=3306
dbname=glazedb
username=glaze_dbo
password=glaze
charsettype=utf8
<target-mysql>
<max-ref>$570dd2260cf2d9959229412d$<max-ref min=5689e2820cf272bb8b4615ab>
